include README.md
include LICENSE
include pyproject.toml
include requirements.txt
recursive-include tests *
recursive-include scripts *
recursive-include skills *
recursive-include config *
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .git*
global-exclude *.egg-info
